<!DOCTYPE html>
<html
  lang="en"
  class="w-full bg-gradient-to-br from-indigo-50 via-white to-cyan-100 text-white font-sans"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoicePointGPT</title>
    <link rel="stylesheet" href="/static/main.css" />

    <!-- Scripts -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/static/favicon.ico" />
  </head>
  <body>
    <!-- Navigation -->
    <div
      class="fixed top-0 w-full flex justify-center bg-white/0 z-30 transition-all backdrop-filter backdrop-blur-lg bg-opacity-30 border-b border-gray-200"
    >
      <div
        class="mx-5 flex h-16 max-w-screen-xl items-center justify-between w-full"
      >
        <a
          class="flex items-center font-display text-black font-semibold text-2xl"
          href="/"
          >VoiceoverGPT</a
        >

        <div class="font-semibold">
          <a
            href="/about"
            class="text-base text-black transition-all hover:underline mr-6 cursor-pointer"
            >About</a
          ><a
            class="text-base text-black transition-all hover:underline mr-6 cursor-pointer"
            href="https://github.com/nitroz3us/"
            >GitHub</a
          >
        </div>
      </div>
    </div>
    <div
      class="main-body fade-in-down mt-20 m-10 max-w-screen-2xl relative mx-auto"
    >
      <div class="max-w-3xl mx-auto">
        <h1
          class="title-head font-bold text-black text-4xl md:text-6xl drop-shadow-sm text-center font-display bg-gradient-to-r from-black to-stone-500 bg-clip-text text-transparent"
        >
          How it works
          <span
            class="bg-gradient-to-r from-blue-500 to-indigo-500 bg-clip-text text-transparent text-center font-bold text-4xl md:text-6xl"
            >Under the Hood</span
          >
        </h1>
        <div class="md:text-xl text-center text-gray-500 mt-6">
          Privacy. Security. FAQ.
        </div>
      </div>
      <div>
        <!-- card here -->
        <div class="flex flex-wrap justify-center gap-8 mt-20">
          <div
            class="flex flex-col items-start justify-between p-4 max-w-screen-xl bg-white rounded-lg shadow-xl border-2 border-indigo-400"
            style="min-width: 350px; background-color: white"
          >
            <p class="w-full text-black text-base md:text-sm">
              Technical Overview
              <a
                class="md:hidden text-blue-600 text-xs md:text-sm mb-5"
                target="_blank"
                href="https://raw.githubusercontent.com/nitroz3us/GPThreatIntel-Summarizer/main/src/static/images/technical_overview.png"
                >(View Diagram)</a
              >
            </p>
            <div class="w-full font-bold text-xl text-black">
              How everything works under the hood.
            </div>
            <p class="text-black text-sm md:text-base mb-5 mt-5">
              At the core of
              <span
                class="bg-gradient-to-r from-blue-500 to-indigo-500 bg-clip-text text-transparent font-semibold"
                >VoicePointGPT</span
              >
              lies a powerful and seamless integration of various technologies,
              all working together harmoniously to deliver a robust and
              efficient user experience. Let's take a closer look at how
              everything works under the hood.
            </p>
            <div class="flex items-center justify-end mt-4">
              <img
                class="rounded rounded-lg cursor-pointer"
                src="https://raw.githubusercontent.com/nitroz3us/GPThreatIntel-Summarizer/main/src/static/images/technical_overview.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
